# Virtual Environment
venv/
**/venv/
env/
**/env/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.sqlite3
**/db.sqlite3

# Node / Frontend
node_modules/
**/node_modules/
dist/
**/dist/
.npm

# Secrets & Config
.env
.env.local

# Uploaded Media
media/
**/media/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

